.header-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
}
.header-wrapper.fixed {
    z-index: 10;
}
.normal-header {
    display: flex;
    display: -webkit-flex;
    height: 100px;
    transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -webkit-transition: height 0.3s ease-in;
    background: rgba(255, 255, 255, .9);
}
.header-wrapper.fixed .normal-header {
    height: 60px;
}
.normal-header>.left {
    width: calc(50% - 150px);
}
.normal-header>.center {
    width: 300px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 100%;
}
.normal-header>.center a:visited {
    color: green;
}
.normal-header>.right {
    position: relative;
    width: calc(50% - 150px);
    top: calc(50% - 25px);
    text-align: center;
}
.normal-header>.right .thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border: 1px solid rgba(0, 0, 0, .1);
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}
.normal-header>.right .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}
.normal-header>.right .pop-menu-wrapper {
    margin-top: calc(50px + 0.4em);
    margin-left: -100px;
}
.normal-header>.right .pop-menu.arrow-top::before {
    left: calc(125px - .4em);
}
.normal-header>.right .pop-menu .item {
    padding-right: 70px;
    font-size: 90%;
}
.normal-header>.right div .pop-menu-wrapper {
    transition: .2s transform;
    transform: scale(1);
}
.normal-header>.right div.disabled .pop-menu-wrapper {
    transform: scale(0);
}
