body {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
select,input,button,textarea {
    color: inhiret;
    font-size: inhiret;
}
a {
    text-decoration: none;
    color: green;
}
a:visited {
    color: #999;
}
a:hover {
    cursor: pointer;
}
.btn {
    padding: .16em .5em;
    border-radius: .2em;
    border: 1px solid rgba(0,0,0,.1);
    background: #f6f6f6 linear-gradient(hsla(0,0%,100%,.3), transparent);   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #888;
    font-size: 100%;
    line-height: 1.5;
}
.btn:active,
.btn.active {
    background: linear-gradient(transparent, hsla(0,0%,100%,.3));   
}
.btn.big {
    font-size: 200%;
}
.btn.small {
    font-size: 70%;
}
.btn-group {
    display: flex;
    display: -webkit-flex;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .2em;
}
.btn-group>.btn {
    border: none;
    border-radius: 0px;
    width: 100%;
    white-space: nowrap;
}
.btn-group>.btn:first-child {
    border-radius: .2em 0 0 .2em;
}
.btn-group>.btn:last-child {
    border-radius: 0 .2em .2em 0;
}
.btn.warning {
    background-color: #f47920;
    color: white;
    text-shadow: 0 -1px 1px #335166;
}
.btn.success {
    background-color: #1d953f;
    color: white;
    text-shadow: 0 -1px 1px #335166;
}
.btn.error {
    background-color: #d71345;
    color: white;
    text-shadow: 0 -1px 1px #335166;
}
.btn:focus {
    outline: none;
}
.btn:hover {
    cursor: pointer;
}
.pop-menu-wrapper {
    display: inline-block;
    position: absolute;
    z-index: 1000;
}
.pop-menu {
    font-size: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #fff;
    min-width: 1em;
    min-height: 1em;
    display: inline-block;
    position: relative;
    border-radius: .3em;
    color: #444;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
    padding: .4em;
    margin: 0;
}
.pop-menu.arrow-bottom {
    box-shadow: 1px -1px 6px rgba(0, 0, 0, 0.3);
}
.pop-menu.arrow-top::before {
    width: 0.625em;
    height: 0.625em;
    border-top: inherit;
    border-left: inherit;
    background: inherit;
    position: absolute;
    transform: rotate(45deg);
    top: -0.35em;
    left: calc(50% - 0.35em);
    display: inline-block;
    content: '';
}
.pop-menu.arrow-bottom::after {
    width: 0.625em;
    height: 0.625em;
    border-right: inherit;
    border-bottom: inherit;
    background: inherit;
    position: absolute;
    transform: rotate(45deg);
    bottom: -0.35em;
    left: calc(50% - 0.35em);
    display: inline-block;
    content: '';
}
.pop-menu.arrow-left::before {
    width: 0.625em;
    height: 0.625em;
    border-left: inherit;
    border-bottom: inherit;
    background: inherit;
    position: absolute;
    transform: rotate(45deg);
    left: -0.35em;
    top: calc(50% - 0.35em);
    display: inline-block;
    content: '';
}
.pop-menu.arrow-right::after {
    width: 0.625em;
    height: 0.625em;
    border-top: inherit;
    border-right: inherit;
    background: inherit;
    position: absolute;
    transform: rotate(45deg);
    right: -0.35em;
    top: calc(50% - 0.35em);
    display: inline-block;
    content: '';
}
.pop-menu.big {
    font-size: 150%;
}
.pop-menu.small {
    font-size: 70%;
}
.pop-menu .item {
    text-align: left;
    cursor: pointer;
    padding: .25em;
    border-radius: .2em;
    white-space: nowrap;
    letter-spacing: 2px; 
}
.pop-menu .item.sep {
    height: 1px;
    padding: 0px;
    margin: .25em;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .5) inset;
}
.pop-menu .item:hover {
    background-color: #eee;
}
.pop-menu.black {
    background-color: #444;
    color: white;
}
.pop-menu.black .item:hover {
    background-color: #111;
}
.input {
    border: 1px solid rgba(0, 0, 0, .1);   
    border-radius: .2em;
    padding: .4em;
    background: #fff linear-gradient(hsla(0, 0%, 100%, .2), transparent);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.05) inset;
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s sease-in;
    -moz-transition: all 0.1s ease-in;
}
textarea.input {
    resize: vertical;
    min-height: 100px;
}
.input:focus {
    box-shadow: 1px 1px 5px rgba(42, 92, 170, 0.2);
    border: 1px solid rgba(0, 0, 0, .2);   
    outline: none;
}
.input:disabled {
    background: #f8f8f8 linear-gradient(hsla(0, 0%, 100%, .2), transparent);
    cursor: not-allowed;
}
blockquote,
.bq {
    border-left: .3em solid rgba(0, 0, 0, .1);
    margin: 0;
    padding: .8em .8em .8em 2em;
    font-weight: bold;
}
.form {
    padding: .5em;
}
.input-line {
    padding: .5em 0;
}
.input-group {
    display: flex;
    display: -webkit-flex;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .1);
    border-radius: .2em;
}
.input-group .btn,
.input-group .input {
    border-radius: 0;
}
.input-group .input {
    width: 100%;
}
.input-group .btn {
    box-shadow: none;
    white-space: nowrap;
}
.input-group>*:first-child {
    border-radius: .2em 0 0 .2em;
}
.input-group>*:last-child {
    border-radius: 0 .2em .2em 0;
}
.input-line .input {
    width: 100%;
    margin: .2em 0;
}
.input-line.inline .input {
    width: auto;
}
ul.pop-menu {
}
.pop-menu li.item {
    list-style: none;
}
.h-sep {
    width: 80%;
    margin: 5px 0px;
    height: 1px;
    background: #eee;
    display: inline-block;
    text-align: center;
}
.v-sep {
    height: 80%;
    margin: 0px 5px;
    width: 1px;
    background: #eee;
    vertical-align: middle;
    display: inline-block;
}
/********************layer modal***********************/
.layer,
.modal {
    width: 0;
    height: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
    background-color: rgba(255, 255, 255, .6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.layer.show,
.modal.show {
    width: 100vw;
    height: 100vh;
}
.modal>.content>.header {
    font-size: 16px;
    height: 50px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
.modal>.content>.header>.left {
    white-space: nowrap;
    overflow: visible;
    padding: 0px 10px;
}
.modal>.content>.header .title {
    max-width: 20px;
}
.modal>.content>.header>.right {
    color: #999;
    padding: 0px 10px;
    white-space: nowrap;
    transition: color 0.1s ease-in;
    -moz-transition: color 0.1s ease-in;
    -moz-transition: color 0.1s ease-in;
}
.modal>.content>.header>.right:hover {
    color: red;
    cursor: pointer;
}
.layer.mask,
.modal.mask {
    background: rgba(0, 0, 0, .6);
}
.layer>.content,
.modal>.content {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .2em;
    background-color: white;
    min-height: 100px;
    min-width: 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
    max-width: 90vw;
    max-height: 90vh;
    transform: scale(0);
}
.modal.show>.content,
.layer.show>.content {
    transform: scale(1);
    transition: .3s transform;
    -moz-transition: .3s transform;
    -webkit-transition: .3s transform;
}
.modal>.content .main {
    max-height: calc(90vh - 50px);
    overflow: auto;
}
.layer>.content {
    max-width: 100vw;
    max-height: 100vh;
}
.layer.lt,
.modal.lt {
    align-items: flex-start;
    justify-content: flex-start;
}
.layer.top,
.modal.top {
    justify-content: center;
    align-items: flex-start;
}
.layer.rt,
.modal.rt {
    align-items: flex-start;
    justify-content: flex-end;
}
.layer.left,
.modal.left {
    align-items: center;
    justify-content: flex-start;
}
.layer.right,
.modal.right {
    align-items: center;
    justify-content: flex-end;
}
.layer.lb,
.modal.lb {
    align-items: flex-end;
    justify-content: flex-start;
}
.layer.bottom,
.modal.bottom {
    align-items: flex-end;
    justify-content: center;
}
.layer.rb,
.modal.rb {
    align-items: flex-end;
    justify-content: flex-end;
}
.lr {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}
.tab {
    transform: scale(0);
    position: absolute;    
}
.tab.active {
    transform: scale(1);
    transition: .1s transform;
    position: static;
}

.h-line {
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin: 5px auto;
    display: inline-block;
}

.v-line {
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
    background-color: #eee;
    margin: auto 5px;
}
.list {
    width: 100%;
    margin: 0;
    padding: 0;
}
.list>.item {
    margin: 5px;
    padding: 5px;
    border-radius: .2em;
    color: #666;
}
.list>.item:hover,
.list>.item.active {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}
.nav {
    font-size: 1em;
}
.nav>.item:after {
    position: relative;
    transform: rotate(45deg);
    display: inline-block;
    width: .6em;
    height: .6em;
    content: '';
    background: transparent;
    border-top: 2px solid #999;
    border-right: 2px solid #999;
}
.nav>.item:last-child:after {
    content: none;
}
.pop-menu-container {
    position: relative;
}
.pop-menu-container .pop-menu-wrapper {
    top: calc(100% + .625em);
    min-width: 100%;
    position: absolute;
    transition: .1s transform;
    transform: scale(0);
}
.pop-menu-container.active .pop-menu-wrapper {
    transform: scale(1);
}
.pop-menu-container [data-toggle=pop-menu] {
}
.pop-menu-wrapper>.pop-menu {
    width: 100%;
}
